.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  vertical-align: middle;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.logo-container {
  vertical-align: middle;
}

button {
  margin: 0px 12px 0px 12px;
  padding: 2px 9px 2px 9px;
  font-family: Arial;
  border-radius: 3px;
  border: 1px solid #007dc1;
  background-color: #007dc1;
  color: #fff;
}

button:hover {
  background-color: #fff;
  color: #007dc1;
}
